/* App.css */

body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.intro {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.message-container {
  max-height: 400px;
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.message-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.log {
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 8px;
}

.randomId {
  font-weight: bold;
  color: #007bff;
 
}

.date {
  margin-left: auto;
  padding-left: 7px;
  font-size: 10px;
  color: #555;
}

.text {
  
  background-color: #f2f2f2;
  padding-left: 40px;
  height: 30px;
  border-radius: 10px;
}

.text p {
  margin: 0;
}

.text p:last-child {
  margin-bottom: 0;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #0056b3;
}
